---
import type { Props } from '../props'

import ToggleTheme from 'virtual:vitesse/components/ToggleTheme'
import LanguageSelect from './LanguageSelect.astro'

const { navBar } = Astro.props
---

<nav class="nav">
  <div class="spacer" />
  <div class="right print:op0">
    {navBar.map(item => (
      <a href={item.href} title={item.label} {...item.attrs}>
        <span>{item.label}</span>
      </a>
    ))}
    <!-- <a href="/posts" title="Blog">
      <span class="lt-md:hidden">Blog</span>
      <div class="i-ri-article-line md:hidden" />
    </a> -->
    <a href="/projects" title="Projects">
      <span class="lt-md:hidden">Projects</span>
      <div class="i-ri-lightbulb-line md:hidden" />
    </a>
    <a href="/talks" class="lt-md:hidden" title="Talks">
      Talks
    </a>
    <a href="/sponsors-list" title="Sponsors">
      <span class="lt-md:hidden">Sponsors</span>
      <div class="i-ri-heart-line md:hidden" />
    </a>
    <a href="/podcasts" class="lt-md:hidden" title="Podcasts">
      <div class="i-ri-mic-line" />
    </a>
    <a href="/demos" title="Demos">
      <div class="i-ri-screenshot-line" />
    </a>
    <a href="/chat" title="Let's Chat">
      <div class="i-ri-chat-1-line" />
    </a>
    <a href="https://twitter.com/antfu7" target="_blank" title="Twitter" class="lt-md:hidden">
      <div class="i-ri-twitter-x-fill" />
    </a>
    <a href="https://github.com/antfu" target="_blank" title="GitHub" class="lt-md:hidden">
      <div class="i-uil-github-alt" />
    </a>
    <a href="/feed.xml" target="_blank" title="RSS" class="lt-md:hidden">
      <div class="i-la-rss-square" style="font-size:1.25rem; margin: 0 -0.125rem;" />
    </a>
    <ToggleTheme />

    <LanguageSelect {...Astro.props} />
  </div>
</nav>

<style>
  .nav {
    padding: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto max-content;
    box-sizing: border-box;
  }

  .nav > * {
    margin: auto;
  }

  .nav img {
    margin-bottom: 0;
  }

  .nav a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.2s ease;
    opacity: 0.6;
    outline: none;
  }

  .nav a:hover {
    opacity: 1;
    text-decoration-color: inherit;
  }

  .nav .right {
    display: grid;
    grid-gap: 1.2rem;
    grid-auto-flow: column;
  }

  .nav .right > * {
    margin: auto;
  }
</style>
