---
const inactiveStyle = 'opacity-20 hover:opacity-50'
const activeStyle = 'opacity-100 underline'

const currentPath = Astro.url.pathname
---

<div class="prose m-auto mb-8 select-none animate-none! op100!">
  <div mb-0 flex="~ col gap-1 sm:row sm:gap-3 wrap" text-3xl>
    <a href="/posts" class:list={['!border-none', currentPath === '/posts' ? activeStyle : inactiveStyle]}> Blog </a>
    <a href="/talks" class:list={['!border-none', currentPath === '/talks' ? activeStyle : inactiveStyle]}> Talks </a>
    <a href="/podcasts" class:list={['!border-none', currentPath === '/podcasts' ? activeStyle : inactiveStyle]}>
      Podcasts
    </a>
    <a href="/streams" class:list={['!border-none', currentPath === '/streams' ? activeStyle : inactiveStyle]}>
      Streams
    </a>
    <a href="/notes" class:list={['!border-none', currentPath === '/notes' ? activeStyle : inactiveStyle]}> Notes </a>
  </div>
</div>
